<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDV-A0Nk7-jxmXpFYvPLMR3nke3DnkghQU</string>
	<key>GCM_SENDER_ID</key>
	<string>969732207519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tikstore.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tikstore-30719</string>
	<key>STORAGE_BUCKET</key>
	<string>tikstore-30719.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969732207519:ios:560eda3cf6bf1734a283aa</string>
</dict>
</plist>